$primaryColor: #21252c;
.navbar-side {
    background-color: $primaryColor; // float: left;
    position: absolute;
    top: 60px;
    height: 100%;
    width: 300px;
    h1 {
        color: grey;
    }
}